* {
  margin: 0;
  padding: 0;
}

.card {
  margin: 100px 0 0 0;
  height: 35vh;
}

.butterButton1 {
  width: 50%;
  border-radius: 8px;
  height: 40px;
  border: none;
}
.butterButton2 {
  width: 40%;
  border-radius: 8px;
  height: 40px;
  border: none;
  margin-left: 20px;
  margin-top: 50px;
}
